<!DOCTYPE html>
<html lang="en" ng-app="main">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Sitron">
        <meta name="author" content="Ondrej Sika, http://ondrejsika.com">
        <script type="text/javascript" src="static/src/angular-1.1.5.min.js"></script>
        <script type="text/javascript" src="static/src/coffee/ClassNode.js"></script>
        <script type="text/javascript" src="static/src/coffee/app.js"></script>
        <script type="text/javascript" src="static/src/coffee/TreeController.js"></script>
        <script type="text/javascript" src="static/src/coffee/NodeController.js"></script>
        <script type="text/javascript" src="static/src/coffee/SettingsController.js"></script>
        <script type="text/javascript" src="static/src/coffee/TitleController.js"></script>
        <script type="text/javascript" src="static/src/ace.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
        <title ng-controller="TitleController">Zoorila {{server}} {{path}}</title>
    </head>
    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="#">
                    <img src="static/rect3054.png" style="height: 30px; margin-right: 10px;">
                    Zoorilla
                </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="margin-top:5px;">
                    <li><a href="#/">Browse</a></li>
                    <li><a href="#/settings">Settings</a></li>
                    <!-- 
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span ng-hide="routeParams.race_pk">Races</span>
                            <span ng-show="routeParams.race_pk" id="actual_race_name">{{actual_race.name}}</span>
                        <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ng-href="#/racea">All races</a></li>
                            <li ng-repeat="race in races"><a ng-href="#/race-{{race.pk}}">{{race.name}}</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                        </ul>
                    </li>
                    <li><a href="#/people">People</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#/settings">Settings</a></li>
                    </ul>
                    -->
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="container">
            <div ng-view></div>
            <div id="footer">
                <hr>
                <p>2013 Zoorilla</p>
            </div>
        </div> <!-- /container -->

        <script type="text/javascript" src="static/src/jquery.js"></script>
        <script type="text/javascript" src="static/src/bootstrap.js"></script>
    </body>
</html>
