<div class="row">
    <div class="col-md-4" ng-controller="TreeController">
        <h4>{{settings.connection}}</h4>
        <ul>
            <li ng-repeat="node in nodes" style="margin-left:{{node.level()*15}}px">
                <span ng-click="showHideChildren(node)" ng-show="node.hasChildren()" class="glyphicon glyphicon-{{node.iconSuffix()}}"></span>
                &nbsp;
                <a class="tree-item" ng-href="#/browse?connection={{settings.connection}}&path={{node.name}}" ng-click="nodeClick()">{{node.path.last()}}<!-- {{node.name}} --> ({{node.type.substr(0,1)}})</a>
                &nbsp;&nbsp;
                <span ng-click="addNode(node)" class="glyphicon glyphicon-file"></span>
                <span ng-click="removeNode(node)" class="glyphicon glyphicon-trash"></span>
            </li>
        </ul>
    </div>
    <div class="col-md-8" ng-controller="NodeController">
        <h4>{{node.name}}</h4>
        <div class="alert alert-success" ng-show="flashSuccess">{{flashSuccess}}</div>
        <div class="alert alert-info" ng-show="flashInfo">{{flashInfo}}</div>
        <div class="alert alert-danger" ng-show="flashError">{{flashError}}</div>
        <form ng-show="{{node}}">
            <div class="form-group">
                <pre id="editor" ng-model="node.data">{{node.data}}</pre>
            </div>
            <a ng-click="edit()" ng-show="node.readOnly" class="btn btn-default btn-success">Edit</a>
            <a ng-click="save()" ng-show="!node.readOnly" class="btn btn-default btn-success">Save</a>
            <a ng-click="save_exit()" ng-show="!node.readOnly" class="btn btn-default">Save &amp; exit</a>
        </form>
    </div>
</div>
